

<div class="row">
  <div class="col-md-6 mx-auto">
    <h1>Sign In</h1>
    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.submit "Sign In", class: "btn btn-primary" %>
    <% end %>

  </div>
</div>
